.student-container {
	display: grid;
	grid-template-columns: 190px auto 190px;
	min-height: 860px;
	background: #edf6f9;
	background-color: #ffddd2;
}

.student-container-left {
	grid-column-start: 1;
}

.student-container-middle {
	grid-column-start: 2;

	display: grid;
	grid-template-rows: 60px auto;
	background-color: #ffddd2;
}

.student-header {
	grid-row-start: 1;
	text-align: center;
	align-items: center;
	color: #8ab0ab;
	margin-top: 5px;
}

.student-card {
	grid-row-start: 2;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
}

.student-indivdiuals {
	text-align: center;
	color: whitesmoke;
	width: 500px;
	height: 500px;
	border-radius: 20px;
	background-color: #83c5be;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.studentImage {
	margin-top: 25px;
	width: 300px;
	height: 300px;
}

.studentName {
	margin-top: 10px;
}

.studentDelete {
	margin-top: 10px;
}

.btn-student-delete,
.btn-student-Add {
	background-color: #bddbd0;
	border: none;
	padding: 8px;
	border-radius: 20px;
}

.btn-student-delete:hover,
.btn-student-Add:hover {
	outline-style: none;
	cursor: pointer;
}

.Empty-card {
	text-align: center;
	color: whitesmoke;
	width: 500px;
	height: 500px;
	border-radius: 20px;
	background-color: #83c5be;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.student-container-right {
	grid-column-start: 3;
}
